flake8==7.0.0
ipykernel==6.29.3
ipywidgets==8.1.2
python-dotenv==1.0.1

torch
nougat-ocr==0.1.17
transformers==4.38.0
chainlit==1.0.400
# gradio>=4.1.1
# gradio_pdf==0.0.3

spacy==3.6.1
chromadb==0.4.22
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.23